node_modules
../.idea
.vscode

# API
apps/api/node_modules
apps/api/build
apps/api/tmp

# Secrets
apps/api/.env
apps/api/.env.local
apps/api/.env.production.local
apps/api/.env.development.local

# Frontend assets compiled code
apps/api/public/assets

# Build tools specific
apps/api/npm-debug.log
apps/api/yarn-error.log

# Editors specific
apps/api/.fleet
apps/api/.idea
apps/api/.vscode

# Platform specific
apps/api/.DS_Store

# WEB
apps/web/.output
apps/web/.data
apps/web/.nuxt
apps/web/.nitro
apps/web/.cache
apps/web/dist

# Node dependencies
apps/web/node_modules

# Logs
apps/web/logs
web/*.log

# Misc
apps/web/.DS_Store
apps/web/.fleet
apps/web/.idea

# Local env files
apps/web/.env
apps/web/.env.*
apps/web/!.env.example
